
:root {
   /*
    --color-primary: #0f172a;
    --color-secondary: #084E75;
    */
    --color-primary: #fff;
    --color-secondary: #17577B;
    --color-accent:#C2DA69;
    --color-accent-secondary:#E9F1C8;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/Poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: Fira Sans;
    font-family: 'Poppins','Roboto','Helvetica', 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background: #f8fafc;
    color: #084E75;
    
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  .skipLink{
    color: var(--color-primary);
   }
  
  p {
    margin: 1rem 0;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    line-height: 2;
  }
  
  h1,
  h2,
  h3 {
    line-height: 1.2;
  }

h4{
  line-height: 3.2;
  font-weight:bolder;
  color:#000;
  font-size: larger;
}

  .imgHolder{
    width: 500px;
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 1em;
  }
  
  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: var(--color-secondary);
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  
  .logos-small {
    display: none;
  }


  /* Page Content */
.page-content {

line-height: 1.7;

}

.page-content h2,
.page-content h3 {
  margin: 20px 0;
}

.page-content h2 {
  font-size: 40px;
}

.page-content h3 {
  font-size: 25px;
}

h1,
h2 {
  text-align: center;
}


/*Custom Global Styles*/
section{
  width: 100%;
padding: 4em;

  
}
.section-title{
  border-radius: 15px 15px 0px 0px; 
  background-color: var(--color-accent);
  color: var(--color-secondary);
  padding: 2em;
  font-size: larger;
}

.section-title h3{
  font-size: 2.1em;
}

.section-desc{
  background-color: #ccc;
  margin-top: -20px;
  padding: 1rem;
  color:#000;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.section-desc h3{
  color: var(--color-secondary);
}

.section-desc a{
  color:var(--color-secondary);
}
.section-desc a:hover{
  color: var(--color-primary);
}

.handout{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.handout img{
  object-fit: fill;
}

.webinar{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;    
}
.webinar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.module-launch{
  margin-bottom: 1em;
  width:100%;
  display: flex;
  flex-direction: column;
}

.module-launch .btn{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background-color: var(--color-secondary);
}
.module-launch .btn:hover{
  background-color: var(--color-accent);
  color:#333;
}
.resources{
  background-color: var(--color-primary);
  padding: 2ch;

}




/*details tag style */
details summary { 
  cursor: pointer;
  }

  details summary > * {
  display: inline;
  }
  
  details{
  background-color: var(--color-secondary);
  margin-bottom:.5rem;
  padding:2rem;
  }
  
  summary{
  padding:1rem;
  color: var(--color-primary);
  }
  
  details p{
    color: var(--color-primary);
  }


    .heading{
      padding-right: 1em;
    font-size:1.4em;
  }




  @media (max-width: 1100px) {
    .logos-small {
      
      display: block;
      margin: auto;
    }
    .logos {
      display: none;
    }
    

    .page-content h2,
.page-content h3 {
  margin: 15px 0;
}

.page-content h2 {
  font-size: 30px;
}

.page-content h3 {
  font-size: 20px;
}

  .footer img{
      display: flex;
    }

    .imgHolder{
      width:100%;
      height: auto;
      display: inline-block;
      overflow:hidden;
    }
  }