---
import Layout from '../layouts/Layout.astro';

import Showcase from '../components/Showcase.astro';
import ARGuideTemplate from '../images/AR_Guide_Template-980x729.png';
import ARGuidePDF from '/public/pdfs/AR-Guide-Template.pdf';
import digiCoachWalkthrough from '../images/digi-Walkthrough.png';
import { Icon } from 'astro-icon';

---
<Layout title="Anticipation Reaction Guide">
    <Showcase showExtra={false} />
    <section class="page-content">
        <div class="container">
          
                <h2 >Anticipation Reaction Guides</h2>
           
           
                <p><strong>What:</strong> Anticipation Reaction Guides (AR Guides) are advanced organizers that are used before, during, and after reading. The teacher creates a set of opinion statements to activate student background knowledge before they read, to identify textual evidence related to the statements while they are reading, and to reconsider their opinions in the light of textual evidence after reading.</p>

                <p><strong>Why:</strong> AR Guides support comprehension of complex text and use of textual evidence. They have been proven to be an effective tool with middle school students across content areas and when used in classroom, intervention, and special education settings (Duffelmeyer 1994; Kozen, Murray, and Windell 2006).</p>
               

                <div class='module-launch'>
                    <a href='/modules#ARGuides' class='btn'><h3>Go To Anticipation Reaction Guides Literacy Modulez</h3> &nbsp;<Icon name="jam:arrow-circle-right" width='40'/></a>
                </div>
            
            <div class='section-title'>
            <h3 >Training Webinar</h3>
        </div>
        
            <div class='section-desc'>     
            <p>Dr. Deborah Reed demonstrates how to use Anticipation Reaction Guides (AR Guides) to support adolescent reading comprehension across content areas. Learn how to use these advanced graphic organizers to activate student background knowledge, support their comprehension of complex texts, and build their use of text evidence to support opinions.</p>
          
            <div class='outcomes'> 
                <h4>Participants Outcomes</h4>
                    <ul class='arg-lists'>
                        <li>Learn how AR Guides support reading comprehension</li>
                        <li>Learn how to prepare effective AR Guide statements</li>
                        <li>Learn how to instruct students in the use of AR Guides before, during and after reading a text.</li>
                    </ul>
                </div>
            <div class='webinar'>
                <iframe title='ARGWebinar' src="https://player.vimeo.com/video/461923212?h=9d2a0f690e"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <ul class="arg-lists">
                <li><a href='https://www.washingtonpost.com/news/to-your-health/wp/2017/07/27/new-debate-on-antibiotics-do-you-really-need-to-take-the-full-course/' target="_blank">Antibiotics Article</a> </li>
                <li><a href='https://www.cdc.gov/handwashing/pdf/handwashing-poster.pdf' target="_blank">Handwashing Article</a> </li>
            </ul>
            
                
            
        </div>

        

            <div class='section-title'>
                <h3>Anticipation Reaction Template</h3>
            </div>
            <div class='section-desc'>
               <div class='handout'> <a href={ARGuidePDF}><img src={ARGuideTemplate} class='handout' alt='ARG Template' title='ARG Template' width='980px' height='729px'></a></div>
            </div>

            <div class='section-title'>
            <h3>DigiCoach Walkthrough</h3>
            </div>
            <div class='section-desc'>
            <div class='handout'>
                <a href='https://www.calireads.org/bridge-content/ARGuides/AR_Guides_Course_Resources/digiCoach%20walkthrough%20Look%20Fors.pdf'><img src={digiCoachWalkthrough} class='handout' alt='DigiCoach Walkthrough' title='DigiCoach Walkthrough' width='980px' height='729px'></a>
            </div>
            <p>Use the Anticipation Reaction Guide Walkthrough Tool during classroom walkthroughs to: </p>
                <ul class='arg-lists'>
                    <li>Identify key instructional Look-Fors important to Anticipation Reaction Guide instruction</li>
                    <li>Give formative teacher feedback and help instructional refinement</li>
                    <li>Guide productive coaching conversations</li>
                    <li>Inform additional training needs</li>
                </ul>
                <p>This tool is available in paper form by <a href='https://www.calireads.org/bridge-content/ARGuides/AR_Guides_Course_Resources/digiCoach%20walkthrough%20Look%20Fors.pdf'>downloading the PDF</a> or digitally through the <a href='https://www.calireads.org/digicoach/'>digiCOACH app</a> – free to CALI Reads participants.</p>
                <h3>Available digitally through the digiCOACH app – free to CALI Reads participants.</h3>

                <ol class='arg-lists'>
                    <li>Print a copy of the <a href='https://www.calireads.org/bridge-content/ARGuides/AR_Guides_Course_Resources/digiCoach%20walkthrough%20Look%20Fors.pdf'>AR Guides Look Fors here</a>.</li>
                    <li>Print a copy of the <a href='https://www.calireads.org/bridge-content/ARGuides/AR_Guides_Course_Resources/digiCoach%20walkthrough%20Feedback.pdf'>AR Guides Feedback Statements here</a>.</li>
                    <li>Use the Anticipation Reaction Guide Walkthrough Tool during classroom walkthroughs to:
                        <ul class="arg-lists">
                            <li>Identify key instructional Look-Fors important to AR Guides instruction</li>
                            <li>Give formative teacher feedback and help instructional refinement</li>
                            <li>Guide productive coaching conversations</li>
                            <li>Inform additional training needs</li>
                        </ul>
                    </li>
                </ol>

            </div>
        </div>
    </section>
</Layout>


    <style>
        
        .arg-lists{
            margin-left: 1em;
        }
        .arg-lists ol{
        }

        .arg-lists ul{
            list-style-type:disc;
        }

      .outcomes{
        margin-bottom: 1em;
      }


      

      
    </style>