---
const {title} = Astro.props;
import Layout from '../layouts/Layout.astro';

import Showcase from '../components/Showcase.astro';

import Features from '../components/Features.astro';

import Footer from '../components/Footer.astro';

import { Icon } from 'astro-icon';
---


<Layout title={'CALI Reads'}>
<Showcase  showExtra={true} />

<section class="page-content">
    <div class="container" id="features">
      
      <h2>Literacy Strategies</h2>
      <p>
        CALI Reads is proud to offer seven free Adolescent Literacy E-Learning courses for professional learning. Each course showcases a research-based literacy practice that has been shown to be effective with adolescent learners across content area instruction. Each course takes approximately 2-3 hours to complete. Use the CALI Reads Training courses to learn how to implement each evidence-based practice across content area instruction to support adolescent literacy. You can make a difference! Get started today! 
      </p> 
      
      <Features />
      
       
    </div>
  </section>

</Layout>
<style>
  [astro-icon="fluent-mdl2:learning-tools"]{
    width:300px;
  }
</style>