---

import ModuleLayout from '../layouts/ModuleLayout.astro';

import Elearning from '../images/e-learning-banner.png';

import Modules from '../components/Modules.astro';
import Showcase from '../components/Showcase.astro';
import ModuleNav from '../components/ModuleNav.astro';


---
<ModuleLayout title="CALI Reads | Literacy Courses">
    <Showcase showExtra={false} />
    <ModuleNav />

    <section class="page-content" id="page-content">
        <div class='intro-block'>
            <div class='banner-img'>
                <img src={Elearning} alt="E-Learning"  width=100% class="elearning" />
            </div>
            <div class='sub-intro'>
                <p>The availability of seven free Adolescent Literacy E-Learning courses is a wonderful opportunity for professional learning. These courses focus on research-based literacy practices proven to be effective with adolescent learners across content area instruction (ELA, social studies, science, math, etc.).  </p>
                <p >Each course takes approximately 2-3 hours to complete, making it a manageable commitment for educators, administrators, and individuals interested in enhancing their knowledge and skills in supporting adolescent literacy. The flexibility to launch the full e-Learning course or complete it section by section allows educators to tailor their learning experience to their personal schedule and preferences. </p>
                <p>Taking advantage of these free e-Learning Courses is an excellent way to invest in professional development that will enhance instructional practices, create engaging learning environments, and make a profound impact on student growth and achievement. Get started today on your professional learning journey! </p>
            </div>
    
        </div>
   
        <Modules title='Literacy Courses'  />

</section>
</ModuleLayout>

<style>
   

    .intro-block{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -2em;
       
    }
    .intro{
        display:flex;
        align-content: space-around;
        font-size: larger;
        width: 100%;
        text-align:left;
        
    }

    .intro-text h2{
        text-align: left;
    }

    .sub-intro{
      font-size: 1.3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
.banner-img{
    align-content: center;
    margin-top:-25px;
   

}
.elearning{
 height:300px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

    [astro-icon='twemoji:books']:before{
        content:"HERE WE GO";
        width:95ch;
        transform:scale(40%);
        
        

    }
</style>
