---

import ModuleLayout from '../layouts/ModuleLayout.astro';

import Modules from '../components/Modules.astro';
import Showcase from '../components/Showcase.astro';
import ModuleNav from '../components/ModuleNav.astro';

---

<ModuleLayout title="Literacy Modules">
    <Showcase showExtra={false} />
    <ModuleNav />

    <section class="page-content" id="page-content">
            <Modules />

</section>
</ModuleLayout>