---
import Layout from '../layouts/Layout.astro';
 
import Modules from '../components/Modules.astro';
import Showcase from '../components/Showcase.astro';

---

<Layout title="Literacy Modules">
    <Showcase showExtra={false} />
    <section class="page-content">
            <Modules />

</div>
</section>
</Layout>