---
import Layout from '../layouts/Layout.astro';

import gifford from '../images/richardGifford.png';
import costa from '../images/costajohansen.png';
import Detail from '../components/Detail.astro'

---

<Layout title={'CALI Reads Partners'}>
    
    <section class="page-content">
        <div class="container" id="partners">
          <h2>California Department of Education Partners </h2>
          <p>CALI Reads was made possible by a State Personnel Development Grant (SPDG) awarded from the Office of Special Education (OSEP), U.S. Department of Education. The SPDG funds were awarded to the California Department of Education, Special Education Division and coordinated and administered in partnership with the Napa County Office of Education.  </p>
            <div>
        
                <h3>Dr. Theresa Costa Johansen</h3>
                <img src={costa}" alt="Dr. Theresa Costa Johansen">

                <p>Dr. Theresa Costa Johansen is an Education Administrator in the Special Education Division at the California Department of Education. In her role, Dr. Johansen coordinates specialized contracts in support of California   
                    Districts with the provision of Special Education services. Accordingly, she has served for the past several years as the SPDG Director for Project READ and now the CALI Reads project. In addition, Dr. Johansen was instrumental in leading the California’s Dyslexia Work Group in their formation of the Dyslexia Guidelines. She comes to this role with experience across the board in classroom teaching, and school and district level administration. Additional areas of expertise include: curriculum and instruction, educational leadership and improving student achievement outcomes.  </p>
              </div>
          
          
           
          <div>
            <h3>Mr. Richard Gifford</h3>
            <img src={gifford} alt="Mr. Richard Gifford">
            <p>Mr. Richard Gifford serves as an Education Programs Consultant for California Department of Education (CDE), Curriculum Frameworks and Instructional Resources Division. In this role, Mr. Gifford specializes in developing and supporting dyslexia policy and programs, and to this end, served as a consultant to CDE in the design of the Dyslexia Guidelines. During his career in education he has provided reading instruction to middle school students with dyslexia and coordinated reading interventions for special education students while working with the Kennedy Krieger Institute in Baltimore, Maryland. He has also worked with the Success for All Foundation, developing reading curricula and technology for struggling readers.</p>            
            
          </div>
          
        </div>
      </section>
    
    </Layout>