---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import SGQVideo from '../components/SGQVideo.astro';


import sgqWalkthroughimg from '../images/Self-Generated-Questions-digiCOACH-Edition.png';

import { Icon } from 'astro-icon';

---
<Layout title='Self-Generated Questions'>
    <Showcase  showExtra={false} />
    
    <section class="page-content">
        <div class="container">
          <h2>Self-Generated Questions (SGQs) Strategy</h2>

          <p><strong>What:</strong> The Self-Generated Questions (SGQs) Strategy is an evidence-based routine that teaches students to monitor their reading comprehension by stopping intermittently to ask different kinds of questions about key information in the text, determine how the information is related, and use text evidence to support their responses.
            </p>
            <p><strong>Why:</strong> The SGQs strategy has been shown to be effective with middle school students in general education content classes, reading intervention classes for students who have reading disabilities, and classes for English learners (Vaughn et al., 2006). It can be used across content domains such as English Language Arts, Science, and Social Studies. The SGQs strategy promotes self-monitoring during reading, increases reading comprehension, text connections, and retention of important concepts and details (Vaughn et al., 2011).</p>
            <div class='module-launch'>
                <a href='/modules#SGQmodules' class='btn'>
                    <h2>Go To Self-Generated Questions Modules </h2>&nbsp; 
                    <Icon name="jam:arrow-circle-right" width='40'/>
                </a>
            </div>
            <div class='section-title'>
                <h2>Preview the SGQs Demonstration Videos</h2>
            </div>
           <SGQVideo />
             <div class='section-title'>
                <h2>Self-Generated Questions Module Resources</h2>
            </div>
            <div class='section-desc'>
                <ul class='resource-stack'>
                    <li><a href='https://www.calireads.org/pdfs/Self-Generated-Questions-digiCOACH-Edition.pdf' title='digiCOACH SGQ walkthrough tool' target='_blank'>digiCOACH SGQ walkthrough tool</a>
                    </li>
                    
                        <li>
                            <a href='https://www.calireads.org/bridge-content/SGQ-Planning-Sheet.pdf'  title='Teacher Planning Sheet' target='_blank'> Teacher Planning Sheet</a>
                    </li>
                    
                        <li><a href="https://www.calireads.org/bridge-content/SGQ_Cue_Cards.pdf" title='Student Cue Cards' target="_blank">Student Cue Cards</a></li>
                       
                    <li>
                        <a href='https://www.calireads.org/bridge-content/Student-Log-for-SGQ.pdf' title='Student Question Log' target="_blank">Student Question Log </a>
                    </li>
                </ul>
         </div>

            <div class='section-title'>
                <h2>Self-Generated Questions Walkthrough Tool</h2>
            </div>
            <div class='section-desc'>
                <p>Use the Self-Generated Questions (SGQ) Walkthrough Tool to identify key instructional components. The tool defines 12 Instructional Look Fors classified by three categories: Lesson Design, Tools & Resources, and SGQ strategy components. The SGQ Walkthrough Tool can be used to guide SGQ lesson planning or as a tool when conducting a SGQ lesson Walkthrough. This tool is available in paper form by downloading the pdf or digitally through the digiCOACH app – free to CALI Reads participants.</p>
                <a href='https://www.calireads.org/pdfs/Self-Generated-Questions-digiCOACH-Edition.pdf' target="_blank" aria-label='SGQ Walkthrough Tool'>
                    <img class='handout' src={sgqWalkthroughimg} alt="SGQ Walkthrough Tool" title="SGQ Walkthrough Tool" ></a>


            </div>
            <div class='section-title'>
                <h3>Other Related Resources</h3>
            </div>
            <div class='section-desc'>
            <ul class='resource-stack'>
                <li><a href='https://iris.peabody.vanderbilt.edu/module/sec-rdng/cresource/q3/p13/' target="_blank">IRIS Center</a></li>
                <li><a href='https://greatmiddleschools.org/toolkits/reading/generating-leveled-questions/' target="_blank">Middle School Matters</a></li>
                <li><a href='https://www.meadowscenter.org/library/resource/tala-videos-generating-questions-comprehension' target="_blank">Meadows Center</a></li>
            </ul>
 
<h3>References</h3>
Vaughn, S., & Edmonds, M. (2006). Reading Comprehension for Older Readers. Intervention in School and Clinic, 41(3), 131–137.
<a href='https://doi.org/10.1177/10534512060410030101'>https://doi.org/10.1177/10534512060410030101</a>
Vaughn, S., Wexler, J., Roberts, G., Barth, A. A., Cirino, P. T., Romain, M. A., … Denton, C. A. (2011). Effects of Individualized and Standardized Interventions on Middle School Students with Reading Disabilities. Exceptional Children, 77(4), 391–407.
<a href='https://doi.org/10.1177/001440291107700401'>https://doi.org/10.1177/001440291107700401</a>
 
<h3>Relevant Common Core State Standards: Anchor Standards for Reading</h3>
CCSS.ELA-Literacy.CCRA.R.1 Read closely to determine what the text says explicitly and to make logical inferences from it; cite specific textual evidence when writing or speaking to support conclusions drawn from the text.
CCSS.ELA-Literacy.CCRA.R.2 Determine central ideas or themes of a text and analyze their development; summarize the key supporting details and ideas.
CCSS.ELA-Literacy.CCRA.R.10 Read and comprehend complex literary and informational texts independently and proficiently.
            </div>
        </div>

       
      </section>
      
        </Layout>

    <style>
        .resource-stack{
            display: flex;
            flex-wrap: wrap;
            gap: 2em;
            align-items: center;
            justify-content: space-evenly;
        }
        .resource-stack a { display: inline-block; }
        .resource-stack a:hover { transform: scale(1.01, 1.01); 
            background-color: var(--color-primary);
        }

       
    </style>


<script>
    const detailsElements = document.querySelectorAll('details')

    detailsElements.forEach((detail) => {
    detail.addEventListener('toggle', () => {
    if (!detail.open) {
        var iframe = document.getElementById("sgqVid1")
       
        var iframe = document.getElementById("sgqVid2")
          
        var iframe = document.getElementById("sgqVid3")
          
        var iframe = document.getElementById("sgqVid4")
        
        var iframe = document.getElementById("sgqVid5")
            
    
    }
  })
});

    </script>