---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';

import sgqWalkthroughimg from '../images/Self-Generated-Questions-digiCOACH-Edition.png';

import pdf from '../images/pdf.png';

---
<Layout >
    <Showcase  showExtra={false} />
    
    <section class="page-content">
        <div class="container">
          <h1>Self-Generated Questions (SGQs) Strategy</h1>

          <p><strong>What:</strong> The Self-Generated Questions (SGQs) Strategy is an evidence-based routine that teaches students to monitor their reading comprehension by stopping intermittently to ask different kinds of questions about key information in the text, determine how the information is related, and use text evidence to support their responses.
            </p>
            <p><strong>Why:</strong> The SGQs strategy has been shown to be effective with middle school students in general education content classes, reading intervention classes for students who have reading disabilities, and classes for English learners (Vaughn et al., 2006). It can be used across content domains such as English Language Arts, Science, and Social Studies. The SGQs strategy promotes self-monitoring during reading, increases reading comprehension, text connections, and retention of important concepts and details (Vaughn et al., 2011).</p>
            <div class='module-launch'>
                <a href='/modules#SGQ' class='btn'>Self-Generated Questions Modules</a>
            </div>
            <div class='section-title'>
                <h2>Preview the SGQs Demonstration Videos</h2>
            </div>
            <details open >
                <summary >
                    <h3>Purpose of Level One Questions</h3>
                </summary>
                <div class='webinar'>
                <p><iframe id='sgqVid1' title='Purpose of Level One Questions' src="https://player.vimeo.com/video/312770749?h=4c2a96ad12?enablejsapi=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></p>
                    <p><a href="https://vimeo.com/312770749">Self-Generated Questions | Purpose of Level One Questions | CALI Reads</a> from <a href="https://vimeo.com/user69554650">CALI Reads</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </details>

              <details >
                <summary>
                  <h3>Level Two Questions Small Group</h3>
                </summary>
                <div class='webinar'>
                    <iframe id='sgqVid2' title='Level Two Questions Small Group' src="https://player.vimeo.com/video/312784541?h=d592bbc651" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    
                    <p><a href="https://vimeo.com/312784541">Self-Generated Questions | Level Two Questions - Small Group Instruction | CALI Reads</a> from <a href="https://vimeo.com/user69554650">CALI Reads</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                </div>
              </details>

              <details >
                <summary>
                    <h3>Introducing Level Three Questions </h3></summary>

                    <div class='webinar'>
                        <iframe id='sgqVid3' title='Level Two Questions Small Group' src="https://player.vimeo.com/video/312785865?h=4ac48b5bcd" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <p><a href="https://vimeo.com/312785865">Self-Generated Questions | Introducing Level Three Questions | CALI Reads</a> from <a href="https://vimeo.com/user69554650">CALI Reads</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                    </div>
              </details>

             <details >
                <summary>
                    <h3>Level Three Modeling </h3>
                </summary>
                <div class='webinar'>
                    <iframe id="sgqVid4" title='Level Three Modeling' src="https://player.vimeo.com/video/312791822?h=afebd3670a" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    <p><a href="https://vimeo.com/312791822">Self-Generated Questions | Modeling Level Three Questions | CALI Reads</a> from <a href="https://vimeo.com/user69554650">CALI Reads</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

                </div>
             </details>

             <details >
                <summary>
                    <h3>Cloze Reading & Building Academic Vocabulary</h3>
                </summary>
               <div class='webinar'>
                    <iframe id="sgqVid5" title='Cloze Reading & Building Academic Vocabulary' src="https://player.vimeo.com/video/312793797?h=aab2ee965a" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p><a href="https://vimeo.com/312793797">Self-Generated Questions | Cloze Reading and Building Academic Vocabulary | CALI Reads</a> from <a href="https://vimeo.com/user69554650">CALI Reads</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
               </div>
             </details>
             <div class='section-title'>
                <h2>Self-Generated Questions Module Resources</h2>
            </div>
            <div class='section-desc'>
                <ul class='resource-stack'>
                    <li><a href='https://www.calireads.org/pdfs/Self-Generated-Questions-digiCOACH-Edition.pdf' title='digiCOACH SGQ walkthrough tool' target='_blank'>digiCOACH SGQ walkthrough tool</a>
                    </li>
                    
                        <li>
                            <a href='https://www.calireads.org/bridge-content/SGQ-Planning-Sheet.pdf'  title='Teacher Planning Sheet' target='_blank'> Teacher Planning Sheet</a>
                    </li>
                    
                        <li><a href="https://www.calireads.org/bridge-content/SGQ_Cue_Cards.pdf" title='Student Cue Cards' target="_blank">Student Cue Cards</a></li>
                       
                    <li>
                        <a href='https://www.calireads.org/bridge-content/Student-Log-for-SGQ.pdf' title='Student Question Log' target="_blank">Student Question Log </a>
                    </li>
                </ul>
         </div>

            <div class='section-title'>
                <h2>Self-Generated Questions Walkthrough Tool</h2>
            </div>
            <div class='section-desc'>
                <p>Use the Self-Generated Questions (SGQ) Walkthrough Tool to identify key instructional components. The tool defines 12 Instructional Look Fors classified by three categories: Lesson Design, Tools & Resources, and SGQ strategy components. The SGQ Walkthrough Tool can be used to guide SGQ lesson planning or as a tool when conducting a SGQ lesson Walkthrough. This tool is available in paper form by downloading the pdf or digitally through the digiCOACH app – free to CALI Reads participants.</p>
                <a href='https://www.calireads.org/pdfs/Self-Generated-Questions-digiCOACH-Edition.pdf' target="_blank" aria-label='SGQ Walkthrough Tool'>
                    <img class='handout' src={sgqWalkthroughimg} alt="SGQ Walkthrough Tool" title="SGQ Walkthrough Tool" ></a>


            </div>
            <div class='section-title'>
                <h3>Other Related Resources</h3>
            </div>
            <div class='section-desc'>
            <ul class='resource-stack'>
                <li><a href='https://iris.peabody.vanderbilt.edu/module/sec-rdng/cresource/q3/p13/' target="_blank">IRIS Center</a></li>
                <li><a href='https://greatmiddleschools.org/toolkits/reading/generating-leveled-questions/' target="_blank">Middle School Matters</a></li>
                <li><a href='https://www.meadowscenter.org/library/resource/tala-videos-generating-questions-comprehension' target="_blank">Meadows Center</a></li>
            </ul>
 
<h3>References</h3>
Vaughn, S., & Edmonds, M. (2006). Reading Comprehension for Older Readers. Intervention in School and Clinic, 41(3), 131–137.
https://doi.org/10.1177/10534512060410030101
Vaughn, S., Wexler, J., Roberts, G., Barth, A. A., Cirino, P. T., Romain, M. A., … Denton, C. A. (2011). Effects of Individualized and Standardized Interventions on Middle School Students with Reading Disabilities. Exceptional Children, 77(4), 391–407.
https://doi.org/10.1177/001440291107700401
 
<h3>Relevant Common Core State Standards: Anchor Standards for Reading</h3>
CCSS.ELA-Literacy.CCRA.R.1 Read closely to determine what the text says explicitly and to make logical inferences from it; cite specific textual evidence when writing or speaking to support conclusions drawn from the text.
CCSS.ELA-Literacy.CCRA.R.2 Determine central ideas or themes of a text and analyze their development; summarize the key supporting details and ideas.
CCSS.ELA-Literacy.CCRA.R.10 Read and comprehend complex literary and informational texts independently and proficiently.
            </div>
        </div>

       
      </section>
    
    </Layout>

    <style>
        .resource-stack{
            display: flex;
            flex-wrap: wrap;
            gap: 2em;
            align-items: center;
            justify-content: space-evenly;
        }
        .resource-stack a { display: inline-block; }
        .resource-stack a:hover { transform: scale(1.01, 1.01); 
            background-color: var(--color-primary);
        }

       
    </style>


<script>
    const detailsElements = document.querySelectorAll('details')

    detailsElements.forEach((detail) => {
    detail.addEventListener('toggle', () => {
    if (!detail.open) {
        var iframe = document.getElementById("sgqVid1")
        iframe.src = iframe.src;   
        var iframe = document.getElementById("sgqVid2")
        iframe.src = iframe.src;    
        var iframe = document.getElementById("sgqVid3")
        iframe.src = iframe.src;   
        var iframe = document.getElementById("sgqVid4")
        iframe.src = iframe.src;  
        var iframe = document.getElementById("sgqVid5")
        iframe.src = iframe.src;    
    
    }
  })
});

    </script>