---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';

import bookImage from '../images/CR_logo_sm_V_rgb.png';
import HTMLButton from '../components/HTMLButton.astro';

---


<Layout title="Video Not Found">
    <Showcase showExtra={false} />
    <section class="page-content">
        <h2>No Video Available</h2>
        <h2><a href='/index.html' aria-label="Go back to CALIREADS"><img src={bookImage} alt=""></a></h2>
       
        <p>We don't seem to have the video you are looking for. </p>
        <p>Checkout our Training Videos and Webinars</p>
        <div class='centerButton'><HTMLButton url="https://vimeo.com/user69554650" buttonText={"CALI READS on VIMEO"}/></div>
        
</section>
</Layout>

<style>

    .page-content p{
        text-align: center;
    }

    .centerButton{
        display:flex;
        justify-content: center;
    }
</style>