---
import Layout from "../layouts/Layout.astro";
import Showcase from '../components/Showcase.astro';
import { Icon } from 'astro-icon';

import walkthrough from '/pdfs/Vocabulary-Maps-Walkthrough.pdf';
import walkthroughImg from '../images/Vocabulary-Maps-Walkthrough.jpg';

---

<Layout title="Vocabulary Maps">
    <section class="page-content">
        <div class="container">
          <h2>Vocabulary Maps</h2>
          <p><strong>What:</strong> The Vocabulary Map is a teacher-completed, graphic organizer used to preteach unfamiliar, conceptually important words prior to reading a text. Teachers can familiarize students with essential words using the Vocabulary Map in a quick five-minute lesson. On the Vocabulary Map, the teacher identifies a cognate for the word, student-friendly definition, visual representation, synonyms, use in context, and turn and talk prompts to engage students in oral language use.</p>

          <p><strong>Why:</strong> Explicit vocabulary instruction is beneficial in developing reading skills, academic vocabulary, and building meaning from text (Kamil et al., 2008; Hattie, 2009). It is especially critical for struggling readers who haven’t built robust vocabularies from extensive reading and who struggle to utilize contextual clues to decipher word meaning (Beck, McKeown, & Kucan, 2002). Studies have shown middle school reading interventions that include the preteaching of essential vocabulary words activate background knowledge and build vocabulary and text comprehension (Vaughn et al., 2013; Swanson et al., 2015).</p>

          <div class='module-launch'>
            <a href='/literacy-modules#vocabModules' class='btn'>
                <h2>Go To The Vocabulary Maps Courses</h2>
                <Icon name="jam:arrow-circle-right" width='40'/>
            </a>
          </div>

          <div class='section-title'>
            <h2>Vocabulary Maps Walkthrough Tool</h2>
          </div>
          <div class='section-desc'>
            <p>Use the Self-Generated Questions (SGQ) Walkthrough Tool to identify key instructional components. The tool defines 12 Instructional Look Fors classified by three categories: Lesson Design, Tools & Resources, and SGQ strategy components. The SGQ Walkthrough Tool can be used to guide SGQ lesson planning or as a tool when conducting a SGQ lesson Walkthrough. This tool is available in paper form by downloading the pdf or digitally through the digiCOACH app – free to CALI Reads participants.</p>
            <a href={walkthrough}>
                <img class='handout' src={walkthroughImg} alt="">
                </a>
          </div>
          <div class='section-title'>
            <h2>digiCOACH Vocabulary Maps: Feedback Statements</h2>
          </div>
          <div class='section-desc'>
            <div class='feedbackTable'>
                <!-- Row 1 -->
                <div class="item">  
                   <h3>Lesson Design</h3>
                </div>
                <div class="item">
                 <h3>Tools and Resources</h3>
                </div>
                <div class="item">
                   <h3>Vocabulary Map</h3>    
                </div>
                <!-- Row 2 -->
                <div class="item">
                    <h4>Purpose</h4>  
                </div>
                <div class="item">
                    <h4>Graphic Organizer</h4>
                </div>
                <div class="item">
                    <h4>Pronunciation</h4>
                </div>
            <!--Row 3 -->
                <div class='item col1'>
                    <p>You stated that students will learn an important word from a text they are going to read.</p>
                    <p>You told students that a better understanding of the vocabulary word will support their understanding of the text.
                    </p>
                    <p>You reminded students that word knowledge is an important part of reading and understanding text.</p>
                </div>
                <div class='item col2'>
                    <p>You completed the Vocabulary Map ahead of time.</p>
                    <p>Your graphic organizer includes all the Vocabulary Map components.
                    </p>
                    <p>You clearly display the Vocabulary Map for students during the lesson.
                    </p>
                    <p>Your graphic organizer is easy to read for students.
                    </p>
            
                    <p>You focused attention on your Vocabulary Map during the lesson and not asking students to copy or take notes.</p>
                </div>
            
                <div class='item col3'>
                    <p>You carefully enunciated the word.</p>
                    <p>You asked students to repeat the word.</p>
                    <p>You slowly pronounced the word syllable by syllable.
                    </p>
                    <p>You repeated the word as needed so students could hear pronunciation.
                    </p>
                    <p>You listened to student pronunciation and gave feedback as needed.</p>
                </div>
                <!--Row 4 -->
                    <div class='item col1'>
                        <h4>Explicit Instruction</h4>
                    </div>
                    <div class='item col2'>
                        <h4>Word Choice</h4>
                    </div>
                    <div class='item col3'>
                        <h4>Illustration</h4>
                    </div>
            <!--Row 5 -->
                <div class='item col1'>
                    <p>You informed students that you will use a Vocabulary Map to teach a new word.</p>
                    <p>You use the Vocabulary Map to teach only one word at a time.
                    </p>
                    <p>You walk students through every part of the Vocabulary Map to preteach the vocabulary word.</p>
                </div>
                <div class='item col2'>
                    <p>You selected a vocabulary word that is conceptually important to the text.</p>
                    <p>You selected a novel vocabulary word that is not likely already known to students.
                    </p>
                    <p>You selected a vocabulary word that students are not likely to learn independently from context alone.</p>
                </div>
                <div class='item col3'>
                    <p>You described how the illustration represents the vocabulary word.</p>
            
                    <p>You choose an illustration that supports how the word is used in the text.
                    </p>
                    <p>You said the vocabulary word when explaining the illustration.</p>
                </div>
            <!--Row 6 -->
                <div class='item row col1'>
                    <h4>Instructional Time</h4>
                </div>
                <div class='item row col2'>
                    <h4>Cognate</h4>
                </div>
                <div class='item row col3'>
                    <h4>Student-friendly Definition</h4>
                </div>
            <!--Row 7 -->
                <div class='item row col1'>
                    <p>You moved at an appropriately quick pace with the Vocabulary Map</p>
                    <p>You limited Turn and Talk conversation to under a minute to keep the lesson moving.
                    </p>
                    <p>You looked well-practiced with the relevant information to preteach the vocabulary word.</p>
            
                </div>
                <div class='item row col2'>
                    <p>You invited students to say the cognate in their native tongue to model correct pronunciation.</p>
            
                    <p>You explained what a cognate is.</p>
                    <p>You accurately identified the cognate.</p>
                    <p>You clarified when the cognate had a slightly different meaning than the vocabulary word.</p>
                </div>
                <div class='item row col3'>
                    <p>You invited students to restate the definition.</p>
                    <p>You avoided using a derivation of the word to define it.</p>
                    <p>You avoided complex and unfamiliar words when defining the word.</p>
                    <p>You used an explanation that would be very familiar or relatable to students.</p>
                </div>
                <!--Row 8 -->
                <div class='item row col1'>
                    <h4>Collaborative Discussion</h4>
                </div>
                <div class='item row col2'>
                    <h4>Turn and Talk Prompts</h4>
                </div>
                <div class='item row col3'>
                    <h4>Synonym(s)</h4>
                </div>
            <!--Row 9 -->
                <div class='item row col1'>
                    <p>You encouraged students to discuss the prompt with a shoulder partner.</p>
                    <p>You listened to students as they talked to each other.
                    </p>
                    <p>You invited 1-2 students to share-out thoughts and ideas following peer discussion.</p>
                </div>
                <div class='item row col2'>
                    <p>You used a prompt(s) that are relatable to students.</p>
                    <p>You used a prompt to get students to discuss how the word is similar or different from a familiar synonym or similar word.</p>
                    <p>You used a prompt to get students to discuss examples and non-examples.</p>
                    <p>You cued students to use the vocabulary word in their peer discussion.
                    </p>
                    <p>You used a prompt that asked students to apply the word to their own experience.</p>
                </div>
                <div class='item row col3'>
                    <p>You stated what synonyms are.</p>
                    <p>You read the synonyms aloud to students.</p>
                    <p>You pointed to the synonyms as you read them aloud.
                    </p>
                    <p>You choose synonyms that were closely related to the word and how it is used in context.</p>
                </div>
                <div class='item'></div>
                <div class='item'></div>
                <div class='item'><h4>Example Sentences</h4></div>
                <div class='item row col1'></div>
                <div class='item row col2'></div>
                <div class='item row col3'>
                    <p>You used sentences that were an appropriate use of the word.</p>
                    <p>You used or adapted a sentence from the text to illustrate how it will be used in context.
                    </p>
                    <p>You used a sentence that expanded understanding of the word beyond the text.</p>
                </div>
            
            </div>
          </div>

          <div class='section-title'>
            <h2>Vocabulary Maps References</h2>
          </div>
          <div class='section-desc'>
            <p>Beck, I., McKeown, M. G., &amp; Kucan, L. (2002). Bringing words to life: Robust vocabulary development. New York: Guilford.</p>

            <p>Hattie, J. (2009). The contributions from teaching approaches-part 1. J. Hattie.(Eds.), Visible learning: A synthesis of over, 800, 161-199.</p>
            
            <p>Kamil, M. L., Borman, G. D., Dole, J., Kral, C. C., Salinger, T., &amp; Torgesen, J. (2008). Improving Adolescent Literacy: Effective Classroom and Intervention Practices. IES Practice Guide. NCEE 2008-4027. National Center for Education Evaluation and Regional Assistance.</p>
            
            <p>Swanson, E., Wanzek, J., Vaughn, S., Roberts, G., &amp; Fall, A. M. (2015). Improving reading comprehension and social studies knowledge among middle school students with disabilities. Exceptional Children, 81(4), 426-442.</p>
            
            <p>Vaughn, S., Swanson, E. A., Roberts, G., Wanzek, J., Stillman‐Spisak, S. J., Solis, M., &amp; Simmons, D. (2013). Improving reading comprehension and social studies knowledge in middle school. Reading Research Quarterly, 48(1), 77-93.</p>
            
            <p>Relevant Common Core State Standards: Anchor Standards for Language: Vocabulary Acquisition and Use</p>
            
            <p><a title="corestandards.org" href="http://www.corestandards.org/ELA-Literacy/CCRA/L/" target="_blank" rel="noopener">http://www.corestandards.org/ELA-Literacy/CCRA/L/</a></p>
                
            <p><a title="Anchor Standards for Language 4" href="http://www.corestandards.org/ELA-Literacy/CCRA/L/4/" target="_blank" rel="noopener">CCSS.ELA-LITERACY.CCRA.L.4</a></p>
            <p>Determine or clarify the meaning of unknown and multiple-meaning words and phrases by using context clues, analyzing meaningful word parts, and consulting general and specialized reference materials, as appropriate.</p>
            
            <p><a title="Anchor Standards for Language 5" href="http://www.corestandards.org/ELA-Literacy/CCRA/L/5/" target="_blank" rel="noopener">CCSS.ELA-LITERACY.CCRA.L.5</a></p>
            <p>Demonstrate understanding of figurative language, word relationships, and nuances in word meanings.</p>
            <p><a title="Anchor Standards for Language 6" href="http://www.corestandards.org/ELA-Literacy/CCRA/L/6/" target="_blank" rel="noopener">CSS.ELA-LITERACY.CCRA.L.6</a></p>
            <p>Acquire and use accurately a range of general academic and domain-specific words and phrases sufficient for reading, writing, speaking, and listening at the college and career readiness level; demonstrate independence in gathering vocabulary knowledge when encountering an unknown term important to comprehension or expression.</p>
          </div>

    </div>
</section>


</Layout>

<style>
    .feedbackTable{
        margin:40px;
        display: grid;
        
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-template-areas: ;
  
    }

    .feedbackTable .item{
        padding: .6em;
        font-size: smaller;
       justify-content:space-around;
       align-self: auto;
       
    }
    .feedbackTable h3{
        text-align: center;
    }
    .feedbackTable h4{
        text-align: center;
    }

    .col2{
    }
</style>