---
export interface Props {

title: string;
body: string;
menuname: string;
menuurl:string;
toolname:string;
toolurl:string;
url: string;
dark?: boolean;

}

const { toolname, menuname, menuurl, title, body, url, dark = false  } = Astro.props as Props

import Button32 from './Button32.astro';

---

<div class={`card ${dark && 'dark'}`}>
  <h3><a href={url} >{title}</a></h3>
  <p>{body}</p>
   
      <div class="resources">
        <a href={menuurl} >      
         <Button32 title={"toolname"} /> 
         
        </a>    
       
      </div>
<style>

.card {
  background: var(--color-primary);
 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card a {
  color:var(--color-primary);
  text-decoration: underline;
}

.card a:hover{
  color: var(--color-accent);
}

.dark{
    background: var(--color-secondary);
    color: var(--color-primary);
}

.resources{
  display:flex;
 justify-items: center;
  justify-content: space-evenly;
  background-color: #17577B;
  position: relative;
  bottom:0px;
}



</style>

