---
import napaImg from '../images/NCOE_green-borderBlue.png';
import osepImg from '../images/OSEP_green-border.png';
import cdeImg from '../images/CDE_green-border.png';

---



<footer class="footer">
    <div class="container">
      
      <div class='footer-images'>
        <div class="item"><img src={napaImg} alt='Napa County Office of Education' width='317' height='144'></div>
        <div class="item"><img src={osepImg} alt='U.S. Office of Special Education Programs' width='310' height='141'></div>
        <div class="item"><img src={cdeImg} alt='California Department of Education' width='312' height='140'></div>

      </div>
     
     
    </div>
    <div >
      <p>
        The contents of this website were developed under a State Personnel Development Grant (SPDG) from the US Department of Education (CALI/Award #H323A170011), Project Officer, david.guardino@ed.gov. However, the contents of this site do not necessarily represent the policy of the US Department of Education and no assumption of endorsement by the Federal government should be made.      </p>
      
    </div>
  </footer>

  <style>
      .footer {
    background: var(--color-secondary);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
  }

  .footer .container {
    display: flex;
    justify-content: space-evenly;
    align-items: right;
  }


  .footer a {
    color: #a741ff;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .footer h3 {
    margin-bottom: 10px;
  }

  .footer div:nth-child(1) {
    text-align: left;
  }

  .footer-images{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
     justify-content: center;
  }
  .item {
     margin: 8px;
}

  @media (max-width: 500px) {

    .footer div:nth-child(2) {
      display: none;
    }
  }

  </style>