---
const { title,  url,   buttonText, addText } = Astro.props 
import LaunchSVG from '../images/SVG/launch.svg';

---

    <li  class='flex-item'>
      <a href={url} title={title} >{title}</a>
   </li>

<style>

  li{
    font-size: .8em;
  }

.flex-container{
  width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex-end;

    }
.flex-item {
  transition:1.5ms;
top:5;
margin: 0 10px;
padding: 5px;

}

.flex-item a:hover{
 text-decoration: underline;
color:var(--color-accent);
 transition: all .5s;
}






@media all and (max-width:30em){
    a.{
    display:block;
    margin:0.4em auto;
  
}

}

</style>