---
const { title,  url,   buttonText, addText } = Astro.props 

---

    <li  class='flex-item'>
      <a href={url} title={title} >{title}
      <button class='button'>{buttonText}</button>
    </a>
   </li>

<style>
 .button {
  background:#387796;
  border:0;
            font-size:1em;
            color: #fff;
            border-radius: 7px;
            box-shadow: 0 7px 0px var(--color-accent);
            display: inline-block;
            transition: all .2s;
            position: relative;
            padding: 20px 25px;
            top: 10;
            cursor: pointer;
            margin:0 23px 10px 10px;
}

 .button:active {
  top: 3px;
            box-shadow: 0 3px 0px var(--color-accent);
            transition: all .2s;
        }

/*
.button:hover {
  background-color: var(--color-accent);
  color: #fff;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
*/

  li{
    font-size: .9em;
  
  }


.flex-item {
top:5;
margin: 0 10px;
margin-left: 30px;
padding: 5px;
display: flex;
align-items: center;
}

.flex-item a:hover{
color:var(--color-accent);
}

/*
.flex-item a:hover{
 text-decoration: underline;
color:var(--color-accent);
 transition: all .5s;
}
*/


@media all and (max-width:30em){
    a.{
    display:block;
    margin:0.4em auto;
  
}

}

</style>