---
const { title,  url,   buttonText, addText } = Astro.props 

---

    <li  class='flex-item'>
      <a href={url} title={title} >{title}
      <button class='button'>{buttonText}</button>
    </a>
   </li>

<style>
.button{
  background-color: var( --color-secondary);
  border: 1px solid var( --color-secondary);
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left:2em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--color-accent);
  color: #666;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
  li{
    font-size: .9em;
  
  }


.flex-item {
  transition:1.5ms;
top:5;
margin: 0 10px;
padding: 5px;
display: flex;
align-items: center;
}

.flex-item a:hover{
 text-decoration: underline;
color:var(--color-accent);
 transition: all .5s;
}


@media all and (max-width:30em){
    a.{
    display:block;
    margin:0.4em auto;
  
}

}

</style>