---


const { title,  url,  buttonText, addText } = Astro.props 
---
<ul>
<li>
    <a href={url} title={title} >
       <button class="btn-9">
          Start The Course &gt;&gt;
       </button>
      </a>
  </li>
</ul>

  <style>
   
    li{
      display: flex;
      justify-content: flex-start;
      justify-items: center;
   
    }
      button span{
        color: rgb(9, 71, 85);
       
      }
     
    
    
    
    .btn-9 {
      border:0;
            background:#387796;
            
            font-size:1em;
            color: #fff;
            border-radius: 7px;
            box-shadow: 0 7px 0px var(--color-accent);
            display: inline-block;
            transition: all .2s;
            position: relative;
            padding: 20px 25px;
            top: 10;
            cursor: pointer;
            margin:0 23px 10px 10px;
            
}

 .btn-9:active {
            top: 3px;
            box-shadow: 0 2px 0px #387796;
            transition: all .2s;
        }

    
   
    @media all and (max-width:30em){
        a.{
        display:block;
        margin:0.4em auto;
      
    }
    
    }
    

  </style>


