---
export interface Props {

title: string;
url: string;

}

const { title,  url} = Astro.props as Props
---

<div class='mediaBtn'>
<h3><a href={url} >{title}</a></h3>

</div>
<style>

.mediaBtn {
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background: url('../images/gr-media-play.png') ;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

}

.mediaBtn a{
  width:100%;
  padding:22px;
  
  color:var(--color-secondary);
}

.mediaBtn a:hover{
  color: var(--color-accent);
  background-position: center;


}




</style>