---
export interface Props {

title: string;
body: string;
url: string;
dark?: boolean;

}

const { title, body, url,  dark = false } = Astro.props as Props

---

<div class={`card ${dark && 'dark'}`}>
<h3><a href={url} >{title}</a></h3>
<p>{body}</p>

</div>
<style>

.card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-size: 9%;
  background-position: center;
  background-image: url('../images/svg/SMPlayButton.svg') ;
  background-repeat: no-repeat;
}

.card a {
  color:var(--color-secondary);
  text-decoration: none;
}

.card a:hover{
  color:var(--color-accent);
 transition: all .5s;
}

.dark{
    background: var(--color-secondary);
    color: var(--color-primary);
}


</style>