---
export interface Props {

title: string;
body?: string;
url: string;
dark?: boolean;

}

const { title, body, url,  dark = false } = Astro.props as Props

import { Icon } from 'astro-icon';
---

<div class={`card ${dark && 'dark'}`}>
<h3><a href={url} >{title}</a></h3>
<p>{body}</p>
<Icon name='logos:vimeo' />
</div>
<style>
 [astro-icon="logos:vimeo"]{
      width:4ch;
     
}
.card {

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/SVG/GR-SMPlayButton.svg') ;

  background-size: 12%;
  opacity: 0.95;
}

.card:before a{
  content: "";
  top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      
}

.card a {
  
  color:var(--color-secondary);
  text-decoration: none;
}

.card a:hover{
  color:var(--color-accent);
 transition: all .5s;
}

.dark{
    background: var(--color-secondary);
    color: var(--color-primary);
}


</style>