---
export interface Props {

title: string;
body: string;
url: string;
dark?: boolean;

}

const { title, body, url,  dark = false } = Astro.props as Props
---

<div class='mediaBtn'>
<h3><a href={url} >{title}</a></h3>
<p>{body}</p>

</div>
<style>

.mediaBtn {
  background-color: #fff;
 background-image:url('../images/sm-media-play.jpg') ;
 background-repeat: no-repeat;
 background-position: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.mediaBtn a {
  color:var(--color-secondary);
}

.mediaBtn a:hover{
  color: var(--color-accent);
}




</style>