---


---

<ul class='moduleNav'>
<li><a href='/modules#ARGuides'>AR Guides</a></li>
<li><a href='/modules#GTG'>Get The Gist</a></li>
<li><a href='/modules#morphology'>Morphology</a></li>
<li><a href='/modules#ReciprocalTeaching'>Reciprocal Teaching</a></li>
<li><a href='/modules#SGQmodules'>Self-Generated Questions Modules</a></li>
<li><a href='/modules#vocabModules'>Vocabulary Maps</a></li>
<li><a href='/modules#wordbuilder'>WordBuilder</a></li>

</ul>

<style>
    .moduleNav{
        float: none;
        padding-bottom: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .moduleNav li{
        display: inline;
        padding: .6em;
    }

    .moduleNav a:hover{
        border-bottom: 3px solid var(--color-secondary);
    }

    @media (max-width: 1100px) {
        .moduleNav{
            display: grid;
            grid-template-columns: repeat(2, 2fr);
        }

        .moduleNav li{
            justify-content: center;
        }
    }
</style>