---
import hero from '../images/front-page.png';
import heroSmallest from '../images/front-pageSmallest.jpg';

export interface Props {
heading?: string;
text?: string;
tagline?: string;
showExtra?: boolean;
}

const {heading = "CALI Reads", 

text="",
//tagline = "California Adolescent Literacy Initiative", 
showExtra = true } = Astro.props as Props;
---


<section class="showcase">
  <h1 style='color:#17577B'>California Adolescent Literacy Initiative </h1>

    <div class="showcase-text">
              <h1>{heading}</h1>
    </div>

    {showExtra && <> 
    
    <div class="showcase-img">
      <img class="logos" src={hero} alt="Helping Middle School Improve Student Outcomes" title="Helping Middle School Improve Student Outcomes" />
      <img class="logos-small" src={heroSmallest}  alt="Helping Middle School Improve Student Outcomes" />
      
    </div>

    <p class="showcase-demo">
      <small>The CALI Reads project is dedicated to empowering educators to deliver high-quality instruction and improve literacy outcomes for diverse students. By providing free access to instructional resources, CALI Reads ensures that all educators, regardless of financial constraints, can benefit from the research-based strategies and practices presented. We encourage anyone interested in supporting adolescent literacy to explore and use the free learning resources available here. </small></p>
 
 <p class="showcase-demo"><small>The CALI Reads project was made possible through a 5-year State Personnel Development Grant awarded to the California Department of Education, Special Education Division, by the Office of Special Education Programs at the U.S. Department of Education. This federal funding demonstrates the commitment to improving literacy and educational opportunities for students in California and beyond. </small></p>
 

    
    </> }


   
  </section>


  <style>/* Showcase */
    .showcase {
      height: auto;
      background-color: var(--color-secondary);
      background-image: linear-gradient(to bottom, var(--color-primary), rgb(15 23 42 / 0));
      padding: 30px;
    }
    
    .showcase-blog {
      min-height: 300px;
    }
    
    .showcase-text {
      max-width: 500px;
      color: #000;
      text-align: center;
      margin: 50px auto;
    }
    
    .showcase h1 {
      font-size: 50px;
      color: #fff;
      margin-bottom: 20px;
    }
    
    .showcase p {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .showcase .tagline{
      color:#fff;
      font-size: 1rem;
    }
    
    .showcase-img {
      text-align: center;
    }
    
    .showcase-img img {
      border-radius: 10px;
      margin: auto;
    }
    
    .showcase-demo {
      color: #fff;
      text-align: center;
      font-weight: 300;
    }

    .logos{
      width:auto;
      height:auto;
    }
    </style>
