---
const {title} = Astro.props;

import Header from '../components/Header.astro';
import BackToTop from '../components/BackToTop.astro';
import Footer from '../components/Footer.astro';
import Favicon from '../images/iconified/favicon.ico';
import '../styles/global.css';

---
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Training, Literacy Modules, Anticipation Reaction Guides, Get The Gist, Morphology, Reciprocal Teaching, Self-Generated Questions, Vocabulary Maps, Wordbuilder intervention">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href='../fonts/Poppins/poppins-regular-webfont.woff2' as="font" type="font/woff2" crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap' rel='stylesheet'>
    <link rel="icon" href={Favicon} type="image/x-icon" />
    
    <title>{title}</title>
    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P462NCP');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
 <div class='top-container' id='top-container'>
    <Header />
</div>
 
    <slot />

   <BackToTop />
    <Footer />
   
</body>
</html>
<style>
    .top-container {
background-color: #f1f1f1;
z-index: 10000;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%; 
}

.sticky + .page-content {
  padding-top: 102px;
}
</style>

<script>
    // When the user scrolls the page, execute myFunction
    window.onscroll = function() {myFunction()};
    
    var header = document.getElementById("top-container");
    var sticky = header.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
    </script>

    