---

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

import Footer from '../components/Footer.astro';

import '../styles/global.css';

---
<body>
    <BaseHead />
    <a href='#page-content' class='skipLink'>skip to content</a>
    <Header />
    <slot />
    <Footer />

</body>
</html>